@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body{
  font-family: 'Bree Serif', serif;
  background-image: url(../images/texture-purple-squares_805754.jpg);
  background-repeat: none;
}

h1 {
  color: purple;
  background-color: #ccc;
  border-bottom:
}

h4 {
  border-bottom: 1px dashed red;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;

}

li:nth-child(2n) {
  color: white;

}

li:nth-child(2n + 1) {
  color: #ddd;

}
